@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

header {
  border-bottom: 1px solid #000;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

main {
  height: 100%;
}

footer {
  background: #efefef;
  padding: 10px;
}

a {
  color: blue;
  padding: 10px;
  text-decoration: none;
}
a:hover {
  color: salmon;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: #f5f1f1;
  position: fixed;
  height: 100vh;
  overflow: auto;
  border: 1px solid black;
}

.sidebar a {
  display: block;
  color: blue;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover:not(.active) {
  background-color: salmon;
  color: white;
}

.content {
  margin-left: 100px;
  padding: 1px 16px;
  height: 100vh;
}

@media screen and (max-width: 500px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar {
    display: flex;
  }
  .content {
    margin-left: 0;
  }
}

@media screen and (max-width: 300px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
